Checks: '
  -bugprone-branch-clone,
  -cert-str34-c,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cppcoreguidelines-narrowing-conversions,
  -hicpp-multiway-paths-covered,
  -readability-redundant-declaration,
  '
